.events-section {
    background-color: $silver;
    .section-heading {
        font-weight: 900;
        font-size: 3.75rem;
        line-height: 4.5rem;
        color: $med-grey;
        text-align: center;
        margin-bottom: 80px;
    }
    .slide-arrow {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        color: #fff;
        ion-icon {
            font-size: 2.6rem;
        }
    }
    .swiper-button-prev {
        left: 15px;
    }
    .swiper-button-next {
        right: 15px;
    }
    .card {
        display: flex;
        flex-direction: column;
        min-height: 580px;
    }
    .card-button-wrapper {
        margin-top: auto;
        width: 100%;
    }
    .event-card-info {
        padding: 10px;
    }
    .event-card-title {
        font-size: 1rem;
        line-height: 1.375rem;
        color: $med-grey;
        font-weight: 300;
    }
    .event-card-image-wrapper {
        position: relative;
        width: 100%;
        padding-top: 38%;
        overflow: hidden;
        margin-bottom: calc(10px + .5rem);
    }
    .event-card-excerpt-wrapper {
        padding-top: 10px;
    }
    .event-card-featured-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}