.speaker-profile-section {
    .speaker-title {
        font-size: 2.25rem;
        line-height: 3rem;
        font-weight: 900;
    }
    
    .speaker-subtitle {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 300;
        color: $med-grey;
    }

    .speaker-image-wrapper {
        img {
            object-fit: contain;
            height: auto;
            width: auto;
        }
    }
    
    .speaker-logo-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
        height: 65px;
        display: flex;
        justify-content: flex-start;
        img {
            flex-shrink: 0;
        }
    }

    .social-media-wrapper {
        display: flex;
    }
    
    .social-media-link {
        display: block;
        flex-shrink: 0;
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }

    .social-media {
        width: 100%;
        height: 100%;
    }

}

