%h1 {
    font-weight: 900;
    font-size: 3.75rem;
    letter-spacing: 1px;
    line-height: 4.5rem;
    text-align: center;
}

%h2 {
    font-weight: 400;
    font-size: 2.625rem;
    line-height: 3rem;
}

%caption {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 300;
    color: #000;
    margin: 0;
}