.page-template-template-tickets {
    .hero-container {
        display: none;
        background-color: $red;
        p, .section-subtitle {
            @extend %h1;
            color: white;
        }
        .container {
            max-width: 900px;
        }
    }
}