.tickets-purchase-header-container {
    background-color: $chrome;
    .section-title {
        @extend %h1;
    }
}

.tickets-purchase-container {
    background-color: $silver;
    .tickets-card-info-container {
        flex-grow: 2;
    }
    .swiper-wrapper, .swiper-slide {
        height: inherit;
    }
}

.ticket-purchase-tabs {
    width: 100%;
    @extend %flex-center;
    flex-direction: column;
    background-color: rgba($grey, 0.2);
    padding: 10px;
    @include breakpoint(phablet) {
        padding-left: 5px;
        padding-right: 5px;
    }
    .tab-title, .tab-date {
        color: $med-grey;
        margin: 0;
    }
    .tab-title {
        font-size: 1.5rem;
        line-height: 2.0625rem;
        font-weight: 300;
        @include breakpoint(tablet) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        @include breakpoint(phablet) {
            font-size: 0.75rem;
            line-height:1rem;
        }
    }
    .tab-date {
        font-size: 1rem;
        line-height: 1.1875rem;
        color: $grey;
        font-weight: 900;
        text-transform: uppercase;
        @include breakpoint(phablet) {
            font-size: 0.75rem;
            line-height: 1rem;
        }
    }
    &.active {
        background-color: $silver;
    }
    &:not(.active) {
        border-right: 1px solid white;
    }
    &.disable {
        pointer-events: none;
        .tab-title, .tab-date {
            color: black;
            opacity: 0.2;
        }
    }
}

.card {
    .card-title, .card-subtitle {
        text-align: left;
        padding: 0 25px;
    }
    .card-body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

tito-button {
    width: 100%;
    button {
        width: 100%;
        background-color: $red;
        padding: 10px 15px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
}
