.button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s ease-in-out;
    &.hard {
        border-radius: 0;
    }
    &.red {
        background-color: $red;
        color: white;
        &:hover {
            background-color: $purple;
        }
    }
    &.white {
        background-color: white;
        color: $red;
        &:hover {
            background-color: darken(white, 10%);
        }
    }
    &.full-width {
        width: 100%;
    }
}