.card {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .card-title {
        color: black;
        font-weight: 900;
        font-size: 2.25rem;
        line-height: 5.125rem;
        text-align: center;
    }
    .card-title-wrapper {
        flex-shrink: 0;
        border-bottom: 1px solid $chrome;
    }
    .card-body{
        flex-grow: 1;
    }
}