.details-row {
    .section-subtitle {
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: $med-grey;
        font-weight: 900;
        text-transform: uppercase;
    }
    .section-title {
        font-size: 2.25rem;
        line-height: 3rem;
        font-weight: 900;
    }
    .section-details-text {
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: $med-grey;
        font-weight: 300;
    }
    p {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 300;
    }
}