%header-menu {
    .menu {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-inline-start: 0;
        margin-bottom: 0;
        @include breakpoint (laptop) {
            justify-content: center;
        }
    }
    .menu-item {
        padding: 10px 15px;
        @extend a;
        a {
            font-weight: 900;
            color: black;
            &:hover {
                color: $red;
            }
            @include breakpoint (tablet) {
                font-size: 1.14rem;
            }
            @include breakpoint (phablet) {
                font-size: 1.333rem;
            }
        }
        &.button {
            a {
                color: white;
            }
        }
        &.current-menu-item {
            a {
                color: $red;
            } 
        }
    }
}

%footer-menu {
    .menu {
        list-style: none;
        padding-inline-start: 0;
    }
    .menu-item {
        padding: 5px 0;
        a {
            color: white;
            &:hover {
                color: $red;
            }
        }
    }
}