.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.65);
    z-index: 15;
    &.active {
        @extend %flex-center;
    }
    video {
        &:focus {
            outline: none;
        }
    }
}

body.modal-active {
    overflow: hidden;
}

.lightbox-container {
    position: relative;
    background-color: white;
    max-width: 60%;
    max-height: 100%;
    padding: 10px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    border: 4px solid white;
    box-shadow: 0px 2px 4px rgba(black, 0.65);
    @extend %flex-center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: $red;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: $purple;
    }
}