.speaker-tile {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .speaker-logo-wrapper {
        position: relative;
        width: 100%;
        padding-top: 25%;
        margin-bottom: 8px;
    }
    .speaker-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
    }
    .speaker-headshot-wrapper {
        margin-bottom: 8px;
    }
    .speaker-name {
        font-size: 1rem;
        line-height: 1.1875rem;
        font-weight: 900;
        color: black;
        margin-bottom: 0.2rem;
    }
    .speaker-title {
        @extend %caption;
    }
}