.sticky-footer-wrapper {
    display: none;
    &.enabled {
        display: block;
    }
    .button.white {
        color: black;
        margin-top: 1.5rem;
        height: 40px;
        @extend %flex-center;
    }
}

.sticky-footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 95px;
    background-color: $red;
    color: white;
    z-index: 4;
    .container, .row {
        height: 100%;
    }
    p {
        color: white;   
        margin-bottom: 0;
    }
}

.sticky-footer-row {
    position: relative;
}

.sticky-footer-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    @extend %flex-center;
    color: white;
    ion-icon {
        font-size: 1.3rem;
    }
}

.sticky-footer-time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sticky-footer-heading {
    font-size: 1.15rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

.sticky-footer-time-unit {
    font-size: 1.5rem;
    font-weight: 300;
    color: $grey;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 48px;
    @extend %flex-center;
}