.tickets-card-info-container{
    .price-col {
        &.current {
            .ticket-price {
                color: black;
            }
        } 
    }
    .current-price-col {
        position: relative;
        &:after {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $med-grey;
            content: "";
            transform: skewX(-12deg);
        }
    }
    .no-slash {
        &:after {
            display: none;
        }
    }
    .future-price-col {
        text-align: right;
        opacity: 0.5;
    }
    .prices-row {
        display: none;
        padding-top: 15px;
        padding-bottom: 15px;
        &.active {
            display: flex;
        }
    }
    .included-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .included-features {
        display: flex;
        align-items: flex-start;
        &.unavailable {
            color: $med-grey;
            opacity: 0.5;
        }
    }
    .icon {
        margin-top: 3px;
    }
    .text {
        padding: 0 5px;
    }
}
.ticket-title {
    font-size: 2.25rem; 
    line-height: 2.625rem;
    font-weight: 900;
    text-align: center;
}

.includes-title {
    color: $med-grey;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.ticket-subtitle {
    color: $med-grey;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}
.ticket-tax {
    color: $med-grey;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.ticket-price {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 900;
}