@mixin breakpoint($point) {
    @if $point == desktop {
      @media (max-width: 1199px) { @content ; }
   }
    @else if $point == laptop {
      @media (max-width: 991px) { @content ; }
   }
     @else if $point == tablet {
      @media (max-width: 767px) { @content ; }
   }
    @else if $point == phablet {
      @media (max-width: 575px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 359px)  { @content ; }
    }
  @else {
      @media (max-width: $point) { @content ; }
  }
}   