.front-page-gallery-slider {
    height: 300px;
    .slide-image-container {
        position: relative;
        min-width: 100%;
        min-height: calc(100% - 1.375rem);
    }
    .slide-title {
        @extend %caption;
    }
}