.main-content-container {
    .section-heading, p {
        @extend %h1;
        color: $med-grey;
    }
}

.second-content-container {
    p {
        @extend %h1;
        color: $med-grey;
    }
}