.front-page-hero-slider {
    height: calc(100vh - #{$header-height});
    p {
        color: white;
    }
    .swiper-slide {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.35;
            z-index: 2;
        }
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
}

.slide-info {
    position: relative;
    z-index: 3;
    flex-direction: column;
    text-align: left;
    padding-left: 72px;
    padding-right: 72px;
}

.slide-title {
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 4.5rem;
    color: white;
}

.slide-subtitle {
    @extend %h2;
    color: $light-yellow;
}

.slide-content {
    p {
        font-weight: 900;
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
    text-transform: uppercase;
    color: white;
}

.slide-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    max-width: initial;
    min-height: initial;
    width: 100%;
    height: 100%;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: white;
    cursor: pointer;
    ion-icon {
        font-size: 2.6rem;
    }
}

.swiper-button-prev {
    left: 15px;
}

.swiper-button-next {
    right: 15px;
}