.home {
    .main-content-container, .second-content-container {
        height: 65vh;
        .row, .col {
            height: 100%;
        }
        .col {
            @extend %flex-center;
        }
        p {
            font-size: 3.375rem;
            line-height: 4.05rem;
        }
    }
}