.partners-container {
    &>.row {
        margin-bottom: 40px;
    }
    .logos-wrapper {
        height: 100%;
        @extend %flex-center;
        flex-direction: column;
        padding: 20px;
    }
    .section-subheading {
        font-size: 2.25rem;
        line-height: 3rem;
        font-weight: 900;
    }
    .logo-label {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 300;
        color: $med-grey;
        text-align: center;
    }
}