.page-hero-container {
    position: relative;
    background-color: $red;
    .section-heading {
        color: white;
        padding-bottom: 0;
    }
    .attachment-post-thumbnail {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.35;
    }
}

.page-hero-inner-container {
    position: relative;
    z-index: 3;
}