.main-content-container {
    .section-heading {
        @extend %h1;
        color: $med-grey;
        padding-bottom: 60px;
    }
}

.featured-event-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.featured-event-title {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 900;
}

.featured-event-venue {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    color: $med-grey;
    margin-bottom: 30px;
}

.featured-event-date {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $med-grey;
    font-weight: 900;
    text-transform: uppercase;
}

.featured-image {
    display: block;
    img {
        width: 100%;
        height: auto;
    }
}

.speakers-row {
    padding-top: 15px;
    padding-bottom: 15px;
    .col {
        padding-bottom: 15px;
    }
}