.hero-section-container {
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    .hero-content-row {
        position: relative;
        z-index: 3;
    }
}

.hero-title {
    text-align: left;
    @extend %h1;
}
.hero-subtitle {
    @extend %h2;
    color: $light-yellow;
}
.hero-dates {
    font-size: 1.875rem;
    line-height: 2.5rem;
}