.pre-footer-container {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    &#mc_embed_signup {
        form {
            padding-left: 15px;
            padding-right: 15px;
        }
        .mc-field-group, .indicates-required {
            margin-right: 0;
            width: 100%;
        }
        .mc-field-group {
            label {
                margin-bottom: 0.65rem;
            }
        }
        .button {
            display: inline-block;
            padding: 10px 15px;
            border: none;
            border-radius: 8px;
            font-weight: 700;
            text-transform: uppercase;
            height: initial;
            margin: 0;
            &.red {
                background-color: $red;
                color: white;
                &:hover {
                    background-color: $purple;
                }
            }
        }
        .mc-field-group {
            padding-bottom: 1.6rem;
        }
    }
}

.footer-heading {
    @extend %montserrat-black;
    font-size: 2.25rem;
    color: white;
    margin-bottom: 1rem;
}

.footer-container {
    background-color: $grey;
    &.sticky-footer-enabled {
        padding-bottom: 95px;
    }
}

.footer-inner-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-menu-col {
    @extend %footer-menu;
}

.footer-menu-wrapper {
    text-align: left;
}

.footer-menu-heading {
    @extend %montserrat-black;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: white;
    display: block;
}

.footer-menu-social-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-menu-social {
    flex-shrink: 0;
    @extend %flex-center;
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    ion-icon {
        color: black;
        font-size: 1.3rem;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        background-color: darken(white, 15%);
        ion-icon {
            color: $red;
        }
    }

}

.copyright-footer-container {
    text-align: center;
    color: white;
}

.copyright {
    font-size: 0.875rem;
    color: white;
}