:root {
    font-size: 16px;
    @extend %montserrat;
    @include breakpoint (tablet) {
        font-size: 14px;
    }
    @include breakpoint (phablet) {
        font-size: 12px;
    }
}

body {
    font-size: 16px;
    position: relative;
    padding-top: $header-height;
    @include breakpoint (tablet) {
        font-size: 14px;
    }
    @include breakpoint (phablet) {
        font-size: 12px;
    }
    &.logged-in {
        .site-header {
            top: 32px;
        }
    }
}

button {
    padding: 0;
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
}

input:focus {
    outline: none;
}

.visually-hidden {
    display: none;
}

img, video {
    max-width: 100%;
    max-height: 100%;
}

a {
    transition: 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
    }
}

p {
    @extend %montserrat;
    line-height: 1.5rem;
    color: $med-grey;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.read-more {
    font-weight: 900;
    color: $red;
    &:hover {
        color: $purple;
    }
}

.col-lg-fifth {
    @media (min-width: 992px) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.section-heading {
    @extend %h1;
    padding-bottom: 60px;
    text-align: left;
    &.second-subheading {
        padding-top: 60px;
    }
}

.swiper-slide {
    height: initial!important;
}

.speaker-avatar {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}