.site-header {
    background-color: white;
    height: $header-height;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    box-shadow: 0px 0px 2px 2px rgba(black, 0.1);
    .logo-link {
        display: block;
        max-width: 100%;
        width: 400px;
    }
    .is-button {
        a {
            @extend .button;
            background-color: $red;
            color: white!important;
            &:hover {
                background-color: $purple;
                color: white!important;
            }
        }
    }
}

.site-logo-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.desktop-header-container {
    height: 100%;
    &>.row {
        position: relative;
        height: 100%;
    }
}

.main-menu-col {
    height: 100%;
    @include breakpoint (laptop) {
        position: fixed;
        top: $header-height;
        right: -100vw;
        width: 100%;
        height: calc(100vh - #{$header-height});
        background-color: white;
        transition: 0.3s ease-in-out;
        &.active {
            right: 0;
        }
    }
    .menu {
        margin-left: auto;
        @include breakpoint (laptop) {
            height: calc(100% - #{$header-height});
            margin: 0 auto $header-height auto;
            flex-direction: column;
        }
    }
}

.menu-main-menu-container {
    @extend %flex-center;
    height: 100%;
    @extend %header-menu;
}

.mobile-menu-container {
    display: none;
}

.mobile-menu-button {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    @include breakpoint (laptop) {
        display: block;
    }
}