.hero-info-col {
    .hero-text {
        color: white;
        font-size: 1.875rem;
        line-height: 2.5rem;
        text-transform: uppercase;
    }
}
.hero-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    .hero-image-wrapper-inner {
        position: relative;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 15%;
        }
        &:before {
            left: 0;
            @include linear-gradient(to left, rgba(black, 0) 0%, rgba(black, 1) 100%);
        }
        &:after {
            right: 0;
            @include linear-gradient(to right, rgba(black, 0) 0%, rgba(black, 1) 100%);
        }
    }
    img {
        object-fit: cover;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
    }
}