.tickets-subtitle {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $med-grey;
    font-weight: 900;
    text-transform: uppercase;
}
.tickets-title {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 900;
    text-transform: capitalize;
}