@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i, 900, 900i&display=swap');

%montserrat {
    font-family: 'Montserrat', sans-serif;
}

%montserrat-reg {
    @extend %montserrat;
    font-weight: 400;
}

%montserrat-bold {
    @extend %montserrat;
    font-weight: 700;
}

%montserrat-black {
    @extend %montserrat;
    font-weight: 900;
}